language: python

python:
  - "3.6"

  before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq lcov libboost-test-dev lcov python-dev g++-7
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-7 60 --slave /usr/bin/g++ g++ /usr/bin/g++-7

script: 
  - ./build.sh
  - bash <(curl -s https://codecov.io/bash) -X gcov -X fix -f .build-x86/coverage.info
